nav {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #053338;
  box-shadow: 10px 10px 5px rgb(2, 139, 128);
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
nav .navbar .nav_logo {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .navbar .nav_list {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav .navbar .nav_list .nav_link {
  text-decoration: none;
  color: #DDE4E4;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3199999928px;
  transition: all 0.3s linear;
}
nav .navbar .nav_list .nav_link:hover {
  border-bottom: 2px solid rgb(2, 139, 128);
  color: rgb(2, 139, 128);
}
nav .navbar .nav_btns {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .navbar .nav_btns img {
  cursor: pointer;
}
nav .navbar button {
  background: linear-gradient(2.79deg, #04867b -13.68%, rgba(4, 124, 118, 0.75) 121.16%);
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1400000006px;
  width: 106px;
  height: 40px;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
nav .navbar button:hover {
  border: 2.5px solid rgb(2, 139, 128);
  transition: 0.4s;
  font-size: 18px;
  background: transparent;
  color: rgb(2, 139, 128);
}

.hero {
  margin-top: 200px;
  display: flex;
  padding: 30px;
  align-items: center;
}
.hero .hero_info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 30px;
}
.hero .hero_info h1 {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 550;
  line-height: 85.32px;
  color: #ffffff;
}
.hero .hero_info p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  color: #ffffff;
}
.hero .hero_info span {
  color: #04867b;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: Poppins;
}
.hero .hero_info a {
  font-family: Poppins;
  color: #04867b;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.hero .hero_info button {
  width: 219px;
  height: 53px;
  top: 532px;
  left: 135px;
  border-radius: 10px;
  opacity: 0.85px;
  border: none;
  background-color: rgb(2, 139, 128);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  color: #DDE4E4;
  cursor: pointer;
}
.hero .hero_info button:hover {
  border: 2.5px solid rgb(2, 139, 128);
  transition: 0.4s;
  font-size: 18px;
  background: transparent;
  color: rgb(2, 139, 128);
}
.hero .hero_info .hero_btns {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product {
  height: 100vh;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.product .product_title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.product .product_cards {
  display: flex;
  gap: 30px;
}
.product .product_cards h2 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: #DDE4E4;
}
.product .product_cards p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}
.product .product_cards .product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.product .product_cards .product_card img {
  width: 50px;
  height: 50px;
}
.product button {
  width: 200px;
  height: 40px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #04867b;
  border-radius: 10px;
}
.product button:hover {
  border: 2.5px solid rgb(2, 139, 128);
  font-size: 16px;
  background: transparent;
  color: rgb(2, 139, 128);
}

.management_cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.management_cards .management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.management_cards .management .mg_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.management_cards .management .mg_info h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
}
.management_cards .management .mg_info p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}
.management_cards .management .mg_info h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}
.management_cards .check {
  display: flex;
  align-items: center;
  gap: 20px;
}

.process {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process .pro_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}
.process .pro_title h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.process .pro_title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.process .pro_comments {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.process .pro_comments .pro_users {
  display: flex;
  align-items: center;
  gap: 40px;
}
.process .pro_comments .pro_users .pro_cmnt {
  background-color: #ffffff;
  padding: 20px 50px;
  border-radius: 30px;
}
.process .pro_comments .pro_users .pro_cmnt p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.process button {
  background-color: #04867b;
  width: 260px;
  height: 60px;
  border-radius: 10px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}
.process button:hover {
  border: 2.5px solid rgb(2, 139, 128);
  font-size: 18px;
  background: transparent;
  color: rgb(2, 139, 128);
}

.contents {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.contents .contents_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}
.contents .contents_title h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  color: #ffffff;
}
.contents .contents_title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;
}
.contents .content_cards {
  display: flex;
  justify-content: space-between;
}
.contents .content_cards .content_card {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 5px rgb(2, 139, 128);
}
.contents .content_cards .content_card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contents .content_cards .content_card .content_info {
  padding: 20px;
}
.contents .content_cards .content_card .content_info p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.contents .content_cards .content_card .content_info p span {
  border-right: 2px solid black;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  padding: 0 4px;
}
.contents .content_cards .content_card .content_info h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.contents .content_bottom {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.contents .content_bottom h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  color: floralwhite;
}
.contents .content_bottom p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.price {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.price .price_card {
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(2, 139, 128);
  transition: all 0.4s linear;
}
.price .price_card h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #22343D;
}
.price .price_card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #22343D;
}
.price .price_card .price_numbers {
  display: flex;
  gap: 3px;
  align-items: center;
}
.price .price_card .price_numbers h1 {
  font-family: Poppins;
  font-size: 76px;
  font-weight: 700;
  line-height: 100px;
  color: #04867b;
}
.price .price_card .price_numbers h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #04867b;
}
.price .price_card .price_numbers p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  color: #AFAFAF;
}
.price button {
  background-color: #04867b;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}
.price button:hover {
  border: 2.5px solid rgb(2, 139, 128);
  font-size: 18px;
  background: #fff;
  color: rgb(2, 139, 128);
}
.price .price_card:hover {
  background-color: #04867b;
}
.price .price_card:hover h1 {
  color: #DDE4E4;
}
.price .price_card:hover h2 {
  color: #DDE4E4;
}
.price .price_card:hover p {
  color: #DDE4E4;
}
.price .price_card:hover button {
  border: 1px solid #fff;
}

.clients {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.clients .clients_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.clients .clients_title h1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  color: #ffffff;
}
.clients .clients_title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;
}
.clients .clients_cards {
  display: flex;
  justify-content: space-between;
}
.clients .clients_card {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(2, 139, 128);
}
.clients .clients_card span {
  color: rgb(243, 200, 8);
}
.clients .clients_card .clients_user {
  display: flex;
  gap: 20px;
  align-items: center;
}
.clients .clients_card .clients_user .clients_user_desc h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  color: #02897A;
}
.clients .clients_card .clients_user .clients_user_desc h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  color: #252B42;
}

.join {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #02897A;
  align-items: center;
  border-radius: 20px;
}
.join .join_info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.join .join_info h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48.45px;
  color: aliceblue;
}
.join .join_info button {
  width: 150px;
  height: 50px;
  background-color: aliceblue;
  color: #02897A;
  border: none;
  font-family: Poppins;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.join .join_info button:hover {
  border: 1.5px solid #ffffff;
  background-color: #02897A;
  color: #ffffff;
}

.footer {
  padding: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer .footer_actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer_list .footer_link {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: aliceblue;
}
.footer .footer_btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer_btns h1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: aliceblue;
}
.footer .footer_btns input {
  padding: 10px;
  width: 325px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.footer .footer_btns button {
  width: 131px;
  height: 39px;
  background-color: #02897A;
  color: aliceblue;
  border-radius: 10px;
  border: none;
}
.footer .footer_btns button:hover {
  border: 2.5px solid rgb(2, 139, 128);
  transition: 0.4s;
  font-size: 18px;
  background: transparent;
  color: rgb(2, 139, 128);
}

.footer_nav {
  padding: 40px;
}
.footer_nav h1 {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: aliceblue;
}

@font-face {
  font-family: Poppins;
  src: url(/Poppins/Poppins-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background: #1F2E35;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}