.footer{
    padding: 30px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .footer_actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer_list{
        display: flex;
        flex-direction: column;
        gap: 20px;
      .footer_link{
        text-decoration: none;
        font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 35px;
color: aliceblue;

      }
    }
    .footer_btns{
display: flex;
flex-direction: column;
gap: 20px;
h1{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
color: aliceblue;

}
input{
    padding: 10px;
    width: 325px;
height: 50px;
border-radius: 10px;
border: none;
outline: none;

}
button{
    width: 131px;
height: 39px;
background-color: #02897A;
color: aliceblue;
border-radius: 10px;
border: none;
}
button:hover {
    border: 2.5px solid rgb(2, 139, 128);
    transition: 0.4s;
    font-size: 18px;
    background: transparent;
    color: rgb(2, 139, 128);
}
    }
   
}
.footer_nav{
       padding: 40px;
    h1{
        font-family: Poppins;
font-size: 19px;
font-weight: 500;
line-height: 30px;
text-align: center;
color: aliceblue;
    }
}
